@charset "UTF-8";
/*
font-family: 'Raleway', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Signika', sans-serif;
*/
/*bleu de simplon,*/
/*jaune de simplo,*/
/*police des titres*/
/*police paragraphes*/
/*police de la navigation*/
/*Taille de police des paragraphes*/
/*Taille de police des paragraphes en responsives*/
body {
  margin: 0 auto;
  padding: 0;
  text-align: center; }

/*ajout d'animation pour la nav*/
.trait_anime {
  width: 1px;
  height: 3px;
  background: #efdf31;
  max-width: 165px;
  min-width: 1px; }

.trait_anime2 {
  width: 1px;
  height: 3px;
  background: #efdf31;
  max-width: 135px;
  min-width: 1px; }

.trait_anime3 {
  width: 1px;
  height: 3px;
  background: #efdf31;
  max-width: 130px;
  min-width: 1px; }

@media all and (max-width: 1080px) {
  .trait_anime, .trait_anime2, .trait_anime3 {
    display: none; } }
/*FORMULAIRE*/
.formulaire {
  height: 600px;
  width: 400px;
  position: absolute;
  margin-left: 890px;
  background: white;
  z-index: 2;
  border-radius: 8px;
  border: 4px solid #2a4789;
  font-family: "raleway", sans-serif; }
  .formulaire h3 {
    margin-top: 40px; }
  .formulaire h5 {
    margin-top: 40px; }
  .formulaire label {
    float: left;
    clear: left;
    margin: 11px 20px 0 0;
    width: 95px;
    text-align: right;
    color: #2a4789;
    text-transform: uppercase;
    font-size: 22px; }
  .formulaire input {
    width: 260px;
    height: 55px;
    padding: 5px 20px 0 20px;
    margin: 0 0 20px 0;
    background: white;
    border-radius: 5px;
    color: #2a4789; }
  .formulaire textarea {
    width: 260px;
    height: 170px;
    padding: 12px 20px 0 20px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    text-transform: uppercase; }
  .formulaire .envoie {
    background: rgba(55, 101, 239, 0.6);
    color: white;
    margin-top: 10px;
    border: none;
    text-transform: uppercase; }

@media all and (max-width: 760px) {
  .formulaire {
    margin-left: 350px;
    margin-top: 150px; } }
@media all and (max-width: 430px) {
  .formulaire {
    margin-left: 10px;
    width: 370px;
    height: 750px; } }
/*FORMULAIRE*/
/*Stylisation de la bar de navigation*/
.navbar-inverse {
  height: 120px;
  margin-bottom: 50px;
  font-family: "raleway", sans-serif;
  border: none;
  border-bottom: 2px solid rgba(42, 71, 137, 0.2);
  box-shadow: 5px 5px 8px rgba(42, 71, 137, 0.2);
  background-color: white; }
  .navbar-inverse img {
    width: 240px;
    height: 100px;
    margin: 10px; }
  .navbar-inverse button {
    height: 40px;
    width: 100px;
    margin-left: 50px;
    border: 3px solid #2a4789;
    text-transform: uppercase;
    background: white;
    color: #2a4789; }
  .navbar-inverse button:hover {
    background-color: #efdf31;
    color: white; }
  .navbar-inverse ul {
    text-transform: uppercase; }

.navbar-collapse {
  margin-top: 3%; }

/*changement de couleur des liens de la bar de nav*/
.navbar-inverse .navbar-nav > li > a {
  color: #2a4789; }

.navbar-inverse .navbar-nav > li > a:hover {
  color: #efdf31; }

.navbar-inverse .navbar-nav > li > a:focus {
  color: red; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  margin: inherit;
  border: none; }

@media all and (max-width: 800px) {
  a {
    font-size: 24px;
    margin-top: 0px; } }
/*ajout d'un carousel - modif ajout d'une bordure*/
.carousel-inner {
  border: solid 10px #2a4789; }

/*Stylisation du text a l'intérieur du carousel*/
.carousel-caption {
  margin-bottom: 150px; }
  .carousel-caption h1 {
    font-family: "Signika", sans-serif;
    height: 100px;
    width: 100%;
    background-color: rgba(239, 223, 49, 0.3);
    margin-bottom: 30px;
    padding-top: 8px; }
  .carousel-caption p {
    font-family: "Crimson Text", serif;
    font-size: 26px; }

/*supression du text dans le carousel si la width est inférieur a 1000px*/
/*Stylasation du bouton responsive de la navbar*/
button.navbar-toggle.collapsed {
  background-color: #2a4789;
  width: 60px; }

button.navbar-toggle.collapsed:hover {
  background-color: #efdf31; }

.navbar-inverse button {
  background-color: colorJaune; }

.navbar-inverse .navbar-toggle:visited  {
  background: #efdf31; }

/*changement du boutton responsive bar de navigation*/
.navbar-inverse .navbar-toggle {
  border: none; }

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #2a4789; }

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:visited {
  background-color: #efdf31; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  margin-top: 30px; }

/*Ajout d'un trait separateur d'element*/
.trait {
  height: 4px;
  width: 150px;
  margin: auto;
  background: rgba(239, 223, 49, 0.7);
  border-radius: 8px;
  margin-top: 80px;
  margin-bottom: 80px; }

/*stylisation du text*/
.intro {
  margin-bottom: 100px; }

.intro p {
  text-align: center;
  width: 500px;
  margin: auto;
  font-family: policePara;
  font-size: 24px;
  color: #2a4789; }

.intro h2 {
  width: 600px;
  margin: auto;
  margin-bottom: 40px; }

/*changement de la taille de police en dessous de 1020px;*/
@media all and (max-width: 790px) {
  .intro p {
    font-size: 15px;
    width: 300px; }

  .intro h2 {
    width: 350px;
    font-size: 24px; }

  .carousel-inner {
    display: none; }

  .carousel-caption  {
    display: none; }

  .carousel-indicators {
    display: none; }

  .glyphicon-chevron-left:before {
    display: none; }

  .glyphicon-chevron-right:before {
    display: none; }

  .trait {
    margin-top: 150px; }

  .navbar-inverse button {
    margin-right: 46px; } }
/*redimension de l'img */
@media all and (max-width: 700px) {
  .navbar-inverse img {
    margin-top: -60px; } }
#bio img {
  width: 190px;
  height: 190px; }

@keyframes example {
  0% {
    background-color: #efdf31; }
  25% {
    background-color: #2a4789; }
  50% {
    background-color: #efdf31; }
  100% {
    background-color: #2a4789; } }
/*Stylisation du bouton*/
.btn-primary {
  background-color: #2a4789;
  border: none;
  border-radius: 6px;
  width: 110px;
  height: 36px; }
  .btn-primary a {
    color: white;
    text-decoration: none; }

.btn-primary:hover {
  background-color: #efdf31;
  animation-name: example;
  animation-duration: 4s; }

#video {
  height: 460px;
  width: 700px;
  margin: auto;
  border: solid 3px  black;
  background: #2a4789; }
  #video iframe {
    height: 390px;
    margin-top: 4%;
    width: 640px; }

@media all and (max-width: 700px) {
  #video {
    height: 250px;
    width: 300px; }
    #video iframe {
      height: 230px;
      width: 280px;
      margin-top: 2%; } }
.nav-center {
  margin-bottom: 30px;
  text-align: center;
  display: inline-block; }
  .nav-center a {
    float: left; }

.thumbnail {
  background: linear-gradient(60deg, rgba(250, 105, 0, 0.4) 2%, rgba(105, 210, 231, 0.7)), url(../images/fond2.jpg) no-repeat;
  max-width: 300px;
  max-height: 450px; }
  .thumbnail img {
    height: 140px;
    width: 150px;
    max-height: 140px;
    border: solid 3px #2a4789;
    border-radius: 90px; }

.aprenant_text {
  text-align: center;
  width: 500px;
  margin: auto;
  font-family: policePara;
  font-size: 24px;
  color: #2a4789; }

@media all and (max-width: 600px) {
  .aprenant_text {
    font-size: 19px;
    width: 250px; } }
.wrapper {
  width: 100%;
  text-align: center;
  padding-top: 30px; }

h2 {
  font-family: "Signika", sans-serif, sans-serif;
  color: white;
  font-size: 34px;
  text-transform: uppercase; }

.yo {
  width: 90%;
  margin: 0px auto;
  padding-top: 50px; }

.slick-slide {
  margin-left: 10px;
  margin-right: 10px; }

hr {
  width: 600px; }

#product img {
  width: 300px;
  height: 550px;
  margin-left: 50px; }

/*Bandeau separateur*/
.bandeau {
  height: 190px;
  width: 100%;
  background: #2a4789;
  padding: 50px; }

footer {
  margin-top: 70px;
  background: #2a4789;
  padding: 1px;
  height: 240px;
  width: 100%; }
  footer h3 {
    color: white;
    margin-top: 40px; }
  footer ul {
    text-align: left;
    margin-left: 300px; }
  footer li {
    width: 220px;
    list-style: none; }
  footer a {
    color: white;
    font-size: 25px; }
  footer a:hover {
    color: #efdf31;
    text-decoration: none; }
  footer a:visited {
    color: #efdf31; }
  footer img {
    width: 240px;
    height: 100px;
    margin-top: 50px; }
  footer i {
    display: inline-block;
    color: white;
    margin: 15px;
    margin-top: 70px; }
  footer i:hover {
    opacity: 0.8;
    transform: scale(1.4); }

/*footer*/
#product {
  margin-top: 100px;
  margin-bottom: 20 px; }
  #product .row {
    margin-right: 60px; }

#product img {
  width: 250px;
  height: 140px; }

#product img:hover {
  transform: scale(1.6); }

@media all and (max-width: 900px) {
  footer {
    height: 500px; }
    footer img {
      margin-left: 220px; }
    footer ul {
      margin-left: 140px;
      margin-top: 20px; }
    footer i {
      margin-top: 15px; }

  #product img {
    margin-bottom: 20px;
    width: 550px;
    height: 340px; }

  #product img:hover {
    transform: scale(1.2); } }
@media all and (max-width: 500px) {
  button.navbar-toggle.collapsed {
    width: 40px; }

  footer img {
    margin-left: 27px; }
  footer ul {
    margin-left: 10px; }

  #product img {
    margin-bottom: 90px;
    width: 240px;
    height: 190px; }

  #product img:hover {
    transform: scale(1.5); } }
.arrow {
  text-align: center;
  margin: 8% 0; }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

/*# sourceMappingURL=style.css.map */
