/*
font-family: 'Raleway', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Signika', sans-serif;
*/

$colorBleu : #2a4789; /*bleu de simplon,*/
$colorJaune : #efdf31;/*jaune de simplo,*/
$policeNav : 'raleway', sans-serif; /*police des titres*/
$policePara :  'Crimson Text', serif; /*police paragraphes*/
$policeTitre : 'Signika', sans-serif;	/*police de la navigation*/
$sizePara : 24px;/*Taille de police des paragraphes*/
$sizeResponsive : 15px;/*Taille de police des paragraphes en responsives*/

body {
	
    margin:0 auto;
    padding :0;
    text-align: center;
   
}

/*ajout d'animation pour la nav*/
.trait_anime { width: 1px; height: 3px; background: $colorJaune; max-width: 165px; min-width: 1px; }
.trait_anime2 { width: 1px; height: 3px; background: $colorJaune; max-width: 135px; min-width: 1px;  }
.trait_anime3 { width: 1px; height: 3px; background: $colorJaune; max-width: 130px; min-width: 1px;  }
@media all and (max-width: 1080px){
	.trait_anime, .trait_anime2, .trait_anime3 { display: none; }
}
/*FORMULAIRE*/

.formulaire { height: 600px; width: 400px; position: absolute;
 margin-left: 750px;
  background:white;

 	 z-index: 2; border-radius: 8px;
 border: 4px solid $colorBleu;
 font-family: $policeNav;
 h3 { margin-top: 40px; }
 h5 { margin-top: 40px; }
 label {float: left; clear: left; margin: 11px 20px 0 0;
 	width: 95px; text-align: right;color: $colorBleu; 
 	text-transform: uppercase;
 	 font-size: 22px;}

 input{ width: 260px; height: 55px; padding: 5px 20px 0 20px; margin : 0 0 20px 0;
 background: white; border-radius: 5px;color: $colorBleu; }
 textarea { width: 260px; height: 170px; padding: 12px 20px 0 20px; margin: 0 0 20px 0;border-radius: 5px;
 text-transform: uppercase; }
 .envoie { background: rgba(55, 101, 239, 0.6); color: white; margin-top: 10px; border: none; text-transform: uppercase;} 	 }

/*FORMULAIRE*/

/*Stylisation de la bar de navigation*/
.navbar-inverse{ 
	height: 120px;
	margin-bottom: 50px;
	 font-family : $policeNav;
	 border: none;
	 border-bottom: 2px solid rgba(42, 71, 137,0.2);
	 box-shadow: 5px 5px 8px rgba(42, 71, 137,0.2);
	 background-color: white;
	 img{

	 	width: 240px;height: 100px;
	 	margin:10px;
	 	
	 	}
	 
	button{
		height: 40px;
		width: 100px;
		margin-left: 50px;
		border-color: $colorBleu;
		
		
		text-transform: uppercase;
		background: white;
		color: $colorBleu;
			}
	button:hover { 
		background-color: $colorJaune;
		color: white; }		
	 	
	 	ul{
	 		
	 		text-transform: uppercase;
	 		}
	 	

	 }
	 .navbar-collapse{margin-top: 3%;}
	/*changement de couleur des liens de la bar de nav*/ 					
	.navbar-inverse .navbar-nav>li>a{
	 	color: $colorBleu;
	 }
	 .navbar-inverse .navbar-nav>li>a:hover{
	 	color: $colorJaune;
	 }	
	 .navbar-inverse .navbar-nav>li>a:focus { color: red; }				
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { margin: inherit; border: none;}
@media all and (max-width: 800px){
	a {
		font-size: 24px; margin-top: 0px;
	}
}
/*ajout d'un carousel - modif ajout d'une bordure*/	 	
.carousel-inner { border: solid 10px $colorBleu;
 }	 	

/*Stylisation du text a l'intérieur du carousel*/
.carousel-caption { margin-bottom: 150px; 
 h1 {font-family: $policeTitre;
	height: 100px; width: 100%; background-color: rgba(239, 223, 49,0.3); margin-bottom: 30px;
	padding-top: 8px;  }	
p { font-family: $policePara; font-size: 26px; }	
}

/*supression du text dans le carousel si la width est inférieur a 1000px*/

/*Stylasation du bouton responsive de la navbar*/
button.navbar-toggle.collapsed  {background-color: $colorBleu;width: 60px;}
button.navbar-toggle.collapsed:hover {background-color: $colorJaune;}
.navbar-inverse button { background-color: colorJaune; }

/*changement du boutton responsive bar de navigation*/
.navbar-inverse .navbar-toggle { border: none; }
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background-color: $colorBleu;}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {margin-top: 30px;}
/*Ajout d'un trait separateur d'element*/
.trait { height: 4px;width: 150px; margin: auto; background: rgba(239, 223, 49,0.7);
border-radius: 8px; margin-top: 80px;margin-bottom: 80px; }

/*stylisation du text*/
.intro {margin-bottom: 100px;}
.intro p {text-align: center; width: 500px; margin: auto; font-family: policePara; 
font-size: $sizePara; color: $colorBleu; }
.intro h2 {width: 600px;margin: auto; margin-bottom: 40px;}

/*changement de la taille de police en dessous de 1020px;*/
@media all and (max-width: 790px){
	.intro p { font-size: $sizeResponsive; width: 300px; }
     .intro h2 {width: 350px; font-size: 24px;}
	.carousel-inner { display: none; }
	.carousel-caption {display: none;} 
	.carousel-indicators{display: none;}
	.glyphicon-chevron-left:before {display: none;}
	.glyphicon-chevron-right:before {display: none;}
	.trait { margin-top: 150px; }
	.navbar-inverse button { margin-right: 46px; }

}

/*redimension de l'img */
@media all and (max-width: 700px){

	.navbar-inverse img { margin-top: -60px; } 

}

#bio { img { width: 190px; height: 190px; } }  
@keyframes example {
    0%   {background-color: $colorJaune;}
    25%  {background-color: $colorBleu;}
    50%  {background-color: $colorJaune;}
    100% {background-color: $colorBleu;}
}
/*Stylisation du bouton*/
.endbio { button  { background-color: $colorBleu; border: none; border-radius: 6px;
	width: 110px;height: 36px;
 a { color: white; text-decoration: none; } } }
.endbio { button:hover { 
 	
    background-color: $colorJaune;
    animation-name: example;
    animation-duration: 4s;} }


.endbio {
    margin-left: -650px;
}

#video {height: 460px; 
	width: 700px; 
	margin: auto; 
	border: solid 3px 
	black;
	background: $colorBleu; iframe { height: 390px; margin-top: 4%; width: 640px;} 
}	
@media all and (max-width: 700px){

#video{height: 250px; 
	width: 300px; iframe { height: 230px;width: 280px; margin-top: 2% } }
}
.nav-center{margin-bottom: 30px; 
	text-align: center; 
	display: inline-block; a{float: left;}
}


